body{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1em;
    overflow-y: inherit;
}

::-webkit-scrollbar{
    display: none;
}

.navbar{
    background: #EFEAD7 0% 0% no-repeat padding-box;
    opacity: 0.85;
    position: fixed;
    width: 100%;
    padding: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-link{
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    color: black;
}

.dropdown-menu{
    position: absolute;
    right: 0.5em;
    left: auto;
}

.background{
    width: 100%;
    image-rendering: optimizeQuality;
}

.rectangulo{
    margin-left: -15%;
    width: 130%;
    image-rendering: optimizeQuality;
}